body {
    font-size: 2rem;
}

.main-content {
    padding: 3rem;
    
}

.sidebar {
    padding-bottom: 10rem;
    padding-top: 8rem;
    min-height: 1500px;
}

.main-content {
    padding-bottom: 10rem;
    padding-top: 8rem;
    
}

p {
    font-size: 2.4rem;
    margin-bottom: 3rem;
    width: 80%;
}